// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

h1, h2, h3, h4, h5, h6 {
    color: color($colors,white);
}

.normalWhiteSpace{
    white-space: normal;
}

.avatarThumbnails{
    max-width: 120px;
    max-height: 150px;
}

.newLineText{
    white-space: pre-line;
}

.forumThumbnails{
    width: 40px !important;
    height: 40px !important;
}

.groupThumbnails{
    width: 136px !important;
    height: 42px !important;
    float: right;
    position: static;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

.backgroundWithCards{
    background-color: color($colors,hfGrayLight) !important;
}

.headerCard{
    border: 1px solid color($colors,black) !important;
}

.headerCardContent{
    padding: 3px 16px !important;
}

.divider{
    border-left:1px solid color($colors,black);
}

.prefix{
    color: color($colors,white);
    background-color: color($colors,hfBlueLight);
    padding: 3px;
    display: inline-block;
    border-radius: 4px;
    font-weight: bold;
    margin: 3px;
}

.closed{
    color: color($colors,white);
    background-color: color($colors,danger);
    padding: 3px;
    display: inline-block;
    border-radius: 4px;
    font-weight: bold;
    margin: 3px;
}