<ion-header>
  <ion-navbar color="hfBlue">
    <ion-title>{{ pageTitle }}</ion-title>
    <ion-buttons (tap)="presentThreadActionSheet()" right>
      <button class="moreOptions" end icon-only ion-button large>
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-row class="filters segmentPager" >
    <!-- Prev Page -->
    <ion-col class="col-with-arrow leftrightBorder" (tap)="slidePrev()" ion-long-press [interval]="500" 
    (onPressing)="leftPageHold()"  no-padding col-1>
      <ion-icon *ngIf="showLeftButton" name="arrow-back"></ion-icon>
    </ion-col>
    <ion-col no-padding col-10>
        <ion-slides (ionSlideDidChange)="slideChanged()" slidesPerView="3" autoHeight>
          <!-- Last Page -->
          <ion-slide (tap)="doInfinite(threadID, pageCount)" class="leftrightBorder">
            <p>Last</p>
          </ion-slide>
          <!-- Thread Pages -->
          <ion-slide (tap)="doInfinite(threadID, page)" *ngFor="let page of pages" class="leftrightBorder">
            <p *ngIf="page !== currentPage" >{{ page }}</p>
            <p *ngIf="page == currentPage" class="selectedPage">{{ page }}</p>
          </ion-slide>
          <!-- First Page -->
          <ion-slide (tap)="doInfinite(threadID, 1)" class="leftrightBorder">
            <p>First</p>
          </ion-slide>
        </ion-slides>
    </ion-col>
    <!-- Next Page -->
    <ion-col class="col-with-arrow leftrightBorder" (tap)="slideNext()" ion-long-press [interval]="500" 
    (onPressing)="rightPageHold()" no-padding col-1>
      <ion-icon *ngIf="showRightButton" name="arrow-forward"></ion-icon>
    </ion-col>
  </ion-row>
</ion-header>


<ion-content class="backgroundWithCards">
  <!---->
  <ion-card class="headerCard">
    <ion-card-content class="headerCardContent center">
      <h1>
        <b>{{ threadtitle }}</b>
      </h1>
      <h3>Page {{ currentPage }}</h3>
      <div class="prefix" *ngIf="threadprefix"> {{ threadprefix }} </div>
      <div class="closed" *ngIf="threadclosed"> Closed </div>
    </ion-card-content>
  </ion-card>
  <ion-card *ngFor="let post of posts; let i = index">
    <ion-row style="border-bottom:1px solid black;">
      <ion-col text-left>{{formatDate(post.dateline)}}</ion-col>
      <ion-col text-right>Post #{{calcPostNum(i)}}</ion-col>
    </ion-row>
    <ion-item>
      <ion-thumbnail (tap)="launchProfilePage(post)" item-left>
        <img class="avatarThumbnails" src="{{ pathForImages(post) }}" />
      </ion-thumbnail>
      <h2 class="normalWhiteSpace" style="float:right;" [style.color]="determineRepColor(post.reputation)">
        <b>{{post.reputation}}</b>
      </h2>
      <h2 (tap)="launchProfilePage(post)" class="normalWhiteSpace">
        <b>{{ post.username }}</b>
      </h2>
      <p class="normalWhiteSpace">{{ post.usertitle }}</p>
      <button (tap)="presentPostActionSheet(post)" class="moreOptions" ion-button item-right clear>
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-item>
    <ion-card-content class="messageDivider">
      <div class="newLineText" [innerHtml]="assembleHTMLItem(post.message)"></div>
    </ion-card-content>
    <ion-row>
      <ion-col>
        <button class="postButtons" ion-button icon-left>
          <ion-icon name="chatbubbles"></ion-icon>
          <div>PM</div>
        </button>
      </ion-col>
      <ion-col center text-center>
        <ion-note></ion-note>
      </ion-col>
      <ion-col>
        <button class="postButtons" ion-button icon-left>
          <ion-icon name="quote"></ion-icon>
          <div>Quote</div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>

<ion-footer>
    <ion-fab right bottom>
        <button (tap)="doNextPage(threadID, currentPage)" ion-fab mini class="postButtons">
          <ion-icon name="arrow-dropright"></ion-icon>
        </button>
      </ion-fab>
  </ion-footer>